---
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="WaveNav Labs builds Waves, a desktop WAP/WML browser for exploring, testing, and improving the early mobile web."
    />
    <link rel="icon" type="image/svg+xml" href="./favicon.svg" />
    <link rel="icon" href="./favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>WaveNav Labs | Waves WAP Browser</title>
  </head>
  <body>
    <slot />
  </body>
</html>
